@import 'tailwindcss';

h1, h2, h3, h4, h5, h6 {
    color: #0C2E3D;
}

h1 {
    color: #0C2E3D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 650;
}

h3 {
    color: #0C2E3D;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

@theme {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-nunito: 'Nunito', sans-serif;
    --breakpoint-3xl: 140rem;
    --radius-5xl: 3rem;
}

@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}