@import 'tailwindcss';


h1 {
    color: #0C2E3D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 650;
}

h3 {
    color: #0C2E3D;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

@theme {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-nunito: 'Nunito', sans-serif;
    --breakpoint-3xl: 140rem;
}