html, body {
    background-color: #fafafa;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.contact {
    line-height: 0.2rem;
}


a, a:visited {
    color: inherit;
    font-weight: bold;
}